.discord-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.wrapper-buttons > * {
  margin-bottom: 10px;
}

.wrapper-buttons > *:first-child {
  margin-top: 10px;
}

.wrapper-buttons > *:last-child {
  margin-bottom: 0px;
}

.white-button,
.blue-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 250px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}

.white-button {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
}

.wrapper-nitro-buttons {
  margin: 0 auto !important;
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.black-nitro-button,
.green-nitro-button {
  display: inline-block;
  font-family: Whitney, "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  border-radius: 3px;
  cursor: pointer;
  height: 45px;
  width: 200px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.green-nitro-button {
  background-color: #43b581;
  border: 2px solid #43b581;
  color: #fff;
}

.black-nitro-button {
  background-color: #090909;
  border: 2px solid #090909;
  color: #fff;
}

.discount {
  display: inline;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
  padding: 3px;
  width: 50px;
}

.blue-button:hover,
.white-button:hover,
.black-nitro-button:hover,
.green-nitro-button:hover {
  transform: translateY(1px);
}

.blue-button:active,
.white-button:active,
.black-nitro-button:active,
.green-nitro-button:active {
  transform: translateY(2px);
}

.blue-button,
.white-button,
.black-nitro-button,
.green-nitro-button {
  outline: transparent !important;
}
