.token {
  top: 20vh;
  left: 40vw;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 100px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: contain;
  background-repeat: no-repeat;
  user-select: none;
  font-size: 25px;
  border: rgba(1, 1, 1, 0) solid 5px;
  z-index: 1000;

  opacity: 0.7;
}
.Selectionned {
  border: black solid 5px;
}

.currentTurn {
  opacity: 1;
  border: red solid 5px;
}
